<footer class="footer">
  <div class="footer-container">

    <!-- Column 1 -->
    <div class="footer-col footer-about">
      <div class="footer-logo">
  <img src="assets/images/logo.png" class="footer-icon" />
  <h2>Win Computer College</h2>
</div>
<p class="tagline">"Innovative and Initiative"</p>

      <p class="description">
        Win Computer College Software Training Institute is a fast-growing
        Karaikudi based Software Training Institute providing all the Software
        related courses to all the students on all competitive technologies.
      </p>

      <h5 class="sub-title">Follow Us</h5>
      <div class="social-icons">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-whatsapp"></i>
      </div>
    </div>

    <!-- Column 2 -->
    <div class="footer-col">
      <h3 class="title">Quick Links</h3>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Internship</a>
      <a href="#">Projects-IEEE</a>
      <a href="#">Projects-Application</a>
      <a href="#">Placement</a>
      <a href="#">FAQ</a>
      <a href="#">Contact</a>
    </div>

    <!-- Column 3 -->
    <div class="footer-col">
      <h3 class="title">Courses</h3>
      
        <li>Web Development</li>
        <li>SAP Training</li>
        <li>Python Training</li>
        <li>Software Testing</li>
        <li>BigData – Hadoop</li>
        <li>IOS Training</li>
        <li>AWS Training</li>
        <li>Oracle DBA Training</li>
   
    </div>

    <!-- Column 4 -->
    <div class="footer-col">
      <h3 class="title color-hide">‎</h3>
      <ul>
        <li>Digital Marketing</li>
        <li>Java Training</li>
        <li>Dot Net Training</li>
        <li>Selenium Testing</li>
        <li>Android Training</li>
        <li>SEO – DM Training</li>
        <li>Azure Training</li>
      </ul>
    </div>

    <!-- Column 5 -->
    <div class="footer-col contact-col">
      <h3 class="title">Contact Us</h3>

      <p><i class="fas fa-phone"></i> +91 9360977737</p>
      <p><i class="fas fa-envelope"></i> infowincomputercollege.in</p>
      <p><i class="fas fa-map-marker-alt"></i> No.7E, Eswari Complex, College Road, <br>Karaikudi – 630002.</p>

      <h3 class="title">Opening Hour</h3>
      <p>Sun – Sat:10:00 am–05:00 pm</p>
    </div>

  </div>

  <!-- Bottom Row -->
  <div class="footer-bottom">
    <p>Copyright © 2025 All rights reserved by <b>Win Computer College</b> | Powered by winzone softech</p>
  </div>
</footer>
